<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="staffDao" class="com.quinn.crm.staff.dao.impl.StaffDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean name="staffService" class="com.quinn.crm.staff.service.impl.StaffServiceImpl">
        <property name="staffDao" ref="staffDao"/>
    </bean>
    <bean name="staffAction" class="com.quinn.crm.staff.web.action.StaffAction" scope="prototype">
        <property name="service" ref="staffService"/>
        <property name="departmentService" ref="departmentService"/>
        <property name="postService" ref="postService"/>
    </bean>
</beans>